body{
    width: 80%;
margin: 0 auto;
}

#navbarScroll{
    margin-left: 20%;
}
.icons{
    margin: auto;
    padding: 0 auto;
    color: black;
}
.nav-iteam{

}
.btn{

color: white;
background-color:  rgb(54, 255, 47);
border-radius: 20px;
padding-right: 30px;
padding-top: 10px;
padding-bottom: 10px;
margin-top: auto;
}
#FOODI{

    margin-top: 15px;
    font-weight:bolder;
    font-size:x-large;
    font-style: oblique;
}
.container-fluid{
    padding-top: 13px;
}
.bi{

    margin-left: 23px;
    margin-right: 10px;
    margin-top: 8px;
}

.container{
    background-color:#36ff2f; 


 
}

.grid1{
  display: grid;
  grid-template-columns: auto auto;
  padding-top: 50px;
}
#box{
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 250px;
padding-right: auto; 
}
.sal1{
    margin-left: 60px;
    margin-top: 0%;

}

*{
    margin: 0;
    padding: 0;
}
.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

/* Modified from: https://github.com/mukulkant/Star-rating-using-pure-css */
.nav-link:active{
background-color: rgb(0, 255, 128);
}
#im{
border-radius: 50%;
    position: absolute;
    left: 800px;
   top: 100px;
    z-index: -1;
  left: 785px;
}

.grid2{
    display: grid;
    grid-template-columns: auto auto auto auto;
  width: 70%;
  gap: 60px;
  padding-left: 150px;
}
#p1{
    text-align: center;

 
}
.grid3{
    margin-top: 100px;

}

a {
    text-decoration: none;
    display: inline-block;
    padding: 6px 20px;
  
  }
  
  a:hover {
    background-color: #ddd;
    color: black;

  }
  
  .previous {
    background-color: #f1e9e9;
   
    color: black;
  }
  
  .next {
    background-color: #39cf0b;
    color: white;
  }
  
  .round {
    border-radius: 30%;
  }

  .grid4{
display: grid;
grid-template-columns: auto auto auto;
    margin-top: 120px;
   padding-left: 90px;
  
  }
  #p2{
    margin-right: 35px;
    text-align: center;
    padding-left: 14px;
  }
  .grid5{

    margin-top: 180px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 80px;
  }
  #a2{
    padding-top: 15px;
    padding-left: 50px;
  }
  .grid6{
    margin-top: 180px;
    display: grid;
    grid-template-columns: auto auto;
    margin-bottom: 150px;
  
  }
 #t1{

    background-color: #ddd;
  
    width: 200px;
    height: 190px;
    text-align: center;
    padding-top: 10px;
    border-radius: 30px;
  
 }
 
 #g2{
    display: grid;
    grid-template-columns: auto auto;
    gap: 15px;

 }
 